{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col">
            {% for status in statuses %}
                <span>{{ status }}</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}